@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&display=swap');

body{
    background-color: #191a19;
}

.welcome{
    font-family: 'Amaranth', sans-serif;
    font-size: 10em;
    margin-top: 0.5em;
    margin-left: 0.25em;
    font-size: 2em;
    color: #fcf8e8;
}
.profile{
    width: 20%;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid #191a19;
    perspective: 0.5em;
}

@media screen and (max-width:768px) {
    .profile{
        width: 50%;
    }
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #5800ff,
        0 0 80px #5800ff,
        0 0 90px #5800ff,
        0 0 100px #5800ff,
        0 0 150px #5800ff;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #fff80a,
        0 0 73px #fff80a,
        0 0 80px #fff80a,
        0 0 94px #fff80a,
        0 0 140px #fff80a;
    }
  }

.about_me{
    color: #293462;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 3em;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

.about_p{
    font-family: 'Space Mono', monospace;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 1em;
    color: #fcf8e8;
    text-align: center;
    margin-right: 1.5em;
}