@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&display=swap');

body{
    background-color: #191a19;
}

.welcome{
    font-family: 'Amaranth', sans-serif;
    font-size: 10em;
    margin-top: 0.5em;
    margin-left: 0.25em;
    font-size: 2em;
    color: #fcf8e8;
}
.profile{
    width: 20%;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid #191a19;
}

@media screen and (max-width:768px) {
    .profile{
        width: 50%;
    }
}

.about_me{
    color: #1a191b;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(248, 248, 245);
    font-size: 2.5em;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

.about_p{
    font-family: 'Space Mono', monospace;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 1em;
    color: #fcf8e8;
    text-align: center;
    margin-right: 1.5em;
}