.homebg{
    text-align: center;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h5{
    color: var(--color-light);
    margin-bottom: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    margin-left: 1.5rem;
    left: 0;
    bottom: 3;
}


