@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kaushan+Script&display=swap');

*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Patua One', cursive;
}

*{
  text-decoration: none;
}

li{
  list-style: none;
}

.container {
max-width: 960px;
margin-left: auto;
margin-right: auto;
}

@media screen and (max-width:960px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*navbar*/

.nav_wrapper{
  background: #293462;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;

}

.nav_brand{
  /*font-family: 'Chakra Petch', sans-serif;*/
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  font-weight: 500;
  color: #f6f6f6;
}

.nav_menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav_link{
  color: aqua;
}

.toggler_icon{
  cursor: pointer;
  display: none;
}

.toggler_icon div{
  width: 25px;
  height: 2px;
  background: white;
  margin: 5px 0px;
  transition: 0.3s ease;
}

@media screen and (max-width:768px){
  .toggler_icon{
    display: block;
  }
  .nav_menu{
    position: fixed;
    background: #293462;
    flex-direction: column;
    top: 10vh;
    width: 75%;
    height: 90vh;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s ease; 
  }
}

.nav_collapse{
  transform: translateX(0%);
}

/*animate icon*/

.toggler .line_1 {
  transform: translate(-5px, 7px) rotate(-45deg);
}

.toggler .line_2 {
  opacity: 0;
}

.toggler .line_3 {
  transform: translate(-5px, -7px) rotate(45deg);
}