@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: #1f1f1f;
    --color-bg-varient: #145322;
    --color-primary: Yellow;
    --color-primary-varient: orange;
    --color-white: #fff;
    --color-light: grey;
    --transition: all 400ms easy;
}

html{
    scroll-behavior: smooth;

}


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}

h1,h2,h3,h4{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

a {
    color: var(--color-primary);
    transform: var(--transition);
}

a:hover{
    color: var(--color-primary-varient);
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-bg);
    padding: 0.75rem 1.2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    border: var(--color-bg);
    background-color: var(--color-primary);
    transition: var(--color-bg);
}
.btn-primary{
    width: max-content;
    display: inline;
    color: var(--color-bg);
    font-weight: 700;
    border: var(--color-bg-varient);
    margin-left: 1rem;
    padding: 0.75rem 1.2rem;
    border-radius: 0.5rem;
}

.btn:hover{
    color: var(--color-bg);
    background: var(--color-primary-varient);
    border-color: transparent ;
}

.btn-primary:hover{
    color: var(--color-bg);
    background: var(--color-primary-varient);
    border-color: transparent ;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.footer_text{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: var(--color-light);
    background-color: var(--color-bg);
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: var(--color-primary) solid 0.5px;
}

.footer_icons{
    display: flex;
    padding-top: 0.25em;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.title{
    color: #1a191b;
    text-transform: uppercase;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(248, 248, 245);
    font-size: 2.5em;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

.skillsList{
    display: flexbox;
}

@media screen and (max-width:768px){
    .skillsList{
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}